.product_wrap{
  max-width: 350px;
  box-shadow: 0 0 9px rgba(245, 162, 173, 0.47);
  border-radius: 3px;
  background-color: #ffffff;
  text-decoration: none;
  transition: .3s;
  margin-bottom: 20px!important;
  &:hover{
    transform: scale(1.05);
  }
  .wrap-product-img{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .wrap-descriptions{
    padding: 0 17px 17px 17px;
    h2.woocommerce-loop-product__title{
      color: $color__pink2;
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
      margin-bottom: 6px;
    }
    .price{
      color: $color__pink2!important;
      font-size: 21px!important;
      font-weight: 700;

    }
    .title-description{
      color: $color__dark2;
      font-size: 11px;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 30px;
    }
  }
  a{
    text-decoration: none;
  }
  a.add_to_cart_button{
    box-shadow: 0 3px 6px rgba(137, 2, 62, 0.3);
    border-radius: 23px;
    background-color: $color__pink2;
    padding: 5px 10px;
    color: #fff;
    margin-top: -4px;
    float: right;
    transition: 0.3s;
    line-height: 1.5;
    &:hover{
      box-shadow: 0 3px 6px rgba(130, 1, 58, 0.65);
      background-color: $color__pink2!important;
      color: #ffffff!important;
    }
  }
}

