$color__main: #f5a2ad;
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


// Custom theme color

$color__main: #924826;
$color__main-hover: #923525;

$color__brown1: #482814;
$color__brown2: #6b4a1b;
$color__brown3: #b69876;
$color__brown4: #b69876;
$color__brown5: #eedc74;

$color__orange: #cd7102;

$color__green1: #363b1b;
$color__green2: #698842;
$color__green2-hover: #546d34;
$color__green3: #acca8e;

$color__gray1: #474f5c;
$color__gray2: #7b8390;
$color__gray3: #adb6bd;
$color__pink1: #f5a2ad;
$color__pink2: #ea638c;